# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
port=3310
server_id=1
bind-address="x.x.x.x"
report_host="x.x.x.x"
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY,RocksDB"

gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE
log_bin=binlog
log_slave_updates=ON
binlog_format=ROW
master_info_repository=TABLE
relay_log_info_repository=TABLE
relay_log=db-cluster1-relay-bin
#
# Group Replication Settings
transaction_write_set_extraction=XXHASH64
group_replication_group_name="5516ba1f-70d9-40fd-b26b-309e87360be5"
group_replication_start_on_boot=OFF
group_replication_local_address= "x.x.x.x:33061"
group_replication_group_seeds= "x.x.x.x:33061,x.x.x.x:33061,x.x.x.x:33061"
group_replication_ip_whitelist="x.x.x.x,x.x.x.x,x.x.x.x"
group_replication_bootstrap_group=OFF
group_replication_recovery_ssl_ca
group_replication_recovery_ssl_key
group_replication_recovery_use_ssl=ON
#
innodb_monitor_enable=all 
innodb_file_per_table
innodb_buffer_pool_size=1500M
innodb_log_file_size=900M
innodb_lock_wait_timeout=300
innodb_thread_concurrency=0
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

max_user_connections = 0
max_allowed_packet = 32M
#default-authentication-plugin=mysql_native_password
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
